@media (max-width: 99em) {
  .weather-report {
    grid-template-columns: 1fr;
  }
  .local-weather-report {
    width: 70rem;
    margin: auto;
  }
}
@media (max-width: 83.5em) {
  .search {
    width: 40rem;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 68.75em) {
  .search {
    width: 30rem;
  }
}
@media (max-width: 62.75em) {
  .search {
    width: 25rem;
  }
}
@media (max-width: 60.75em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 51.875em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .forecast-container {
    height: 100rem;
  }
}
@media (max-width: 54em) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    margin-bottom: 10rem;
  }
  .logo {
    grid-column: 1/-1;
    margin: auto;
  }
  .navigation {
    margin-left: 30rem;
  }
}

@media (max-width: 47.5em) {
  html {
    font-size: 43.75%;
  }
}

@media (max-width: 38.75em) {
  .navigation {
    margin-left: 10rem;
  }
}

@media (max-width: 36.375em) {
  .header {
    padding: 0 5rem;
  }
}
@media (max-width: 35em) {
  html {
    font-size: 37.5%;
  }
}
@media (max-width: 28.75em) {
  .header {
    padding: 1rem;
  }
}
